@{
    ViewBag.Title = "Importer";
}
@using (Html.BeginForm("Upload", "Importer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <div class="page-header">
        <h1>Importer des photos</h1>
    </div>
    <input class="btnchoisirfich" type="file" name="file" />
    <input type="submit" name="SubImporter" value="Importer"/>

    <h3 class="sub-header">Catégorie</h3>
    <div >
        <div class="col-md-2 radio radio-inline">
            @Html.RadioButton("rdCategorie", "Sport")
            @Html.Label("Sport")
            @Html.RadioButton("rdCategorie", "Paysage")
            @Html.Label("Paysage")
            @Html.RadioButton("rdCategorie", "Famille")
            @Html.Label("Famille")
            @Html.RadioButton("rdCategorie", "Animaux")
            @Html.Label("Animaux")
        </div>
        <div class="col-md-2 radio radio-inline" style="padding-top:10px">
            @Html.RadioButton("rdCategorie", "Nature")
            @Html.Label("Nature")
            @Html.RadioButton("rdCategorie", "Cuisine")
            @Html.Label("Cuisine")
            @Html.RadioButton("rdCategorie", "Autres",true)
            @Html.Label("Autres")
        </div>
    </div>
}
