@{ 
    var lstimage = ViewData["lstimage"] as List<string>; 
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@{   
    if (lstimage != null && lstimage.Count > 0)
    {
        var requetephotoBd = new PhotoFun.Models.RequetePhotoBd();
        var requeteRelUtilPhotoBd = new PhotoFun.Models.RequeteRelUtilPhotoBd();

        foreach (var photo in lstimage)
        {
            var nbJaime = requetephotoBd.RetourneLeNombreDeJAimeSelonPhoto(photo);
            <div class="divdesimages">
           
                    @using (Html.BeginForm("RetourneLaVueSelonCategorie", "Home", FormMethod.Post))
                    {  
                        string cat = ViewBag.Title;
                        var nomUtil=requetephotoBd.ExtraireUtilSelonPhoto(photo);
                        var commentaire=requetephotoBd.ExtraireCommentaireSelonPhoto(photo);
                        <img src="@photo" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                        if (User.Identity.IsAuthenticated)
                        {
                            if (requeteRelUtilPhotoBd.VerifLiaisonPhotoUtil(User.Identity.Name, photo))
                            {
                                <button type="submit" class="close" title="J'aime"><span class="glyphicon glyphicon-heart"></span><span class="badge">@nbJaime</span></button>
                                <button type="button" class="close boutonsupprimer fullscreen" data-toggle="modal" data-target="#PhotoModal"><span class="glyphicon glyphicon-fullscreen"></span></button>
                                @Html.Hidden("categorie", cat)
                                @Html.Hidden("Image", photo)
                            }
                            else
                            {
                                <button type="submit" class="close" title="Je n'aime plus"><span class="glyphicon glyphicon-heart-empty"></span><span class="badge">@nbJaime</span></button> 
                                <button type="button" class="close boutonsupprimer fullscreen" data-toggle="modal" data-target="#PhotoModal"><span class="glyphicon glyphicon-fullscreen"></span></button>
                                @Html.Hidden("categorie", cat)
                                @Html.Hidden("Image", photo)
                            }
                        }
                        else
                        {
                            <button type="submit" class="close" title="J'aime"><span class="glyphicon glyphicon-heart"></span><span class="badge">@nbJaime</span></button>
                            <button type="button" class="close boutonsupprimer fullscreen" data-toggle="modal" data-target="#PhotoModal"><span class="glyphicon glyphicon-fullscreen"></span></button>
                        }
                            <span hidden class="nomUtil" item="@nomUtil"></span>
                            <span hidden class="commentaire" item="@commentaire"></span>
                            @Html.ActionLink("Partager", "PartagerImage", "Home", new { image = photo }, new { @class = "btn btn-lg btn-info btn-sm" }) 
                    }
            </div>
            
        }
        <div class="modal fade bs-example-modal-lg" id="PhotoModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close boutonsupprimer" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">
                          <a href="" id="nomUtil"></a>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <img src="" alt="Image inaccessible" width="100%"/>
                    </div>
                    <div class="modal-footer">
                        <p id="commentaire"></p>
                    </div>
                </div>
             </div>
         </div>  
    }
    else
    {
         @Html.Partial("_PasPhotoCategorie")
    }
}
