@{ 
    var lstimage = ViewData["lstimage"] as List<string>; 
}
@Styles.Render("~/Content/PopPhoto.css")
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@{   
    if (lstimage != null && lstimage.Count > 0)
    {
        var photoFunBD = new PhotoFun.Models.PhotoFunBD();
        int NbJaime;
        string nomUtil="";
        string commentaire;
        //string sNomPhoto="";
            
        foreach (var Photo in lstimage)
        {
            NbJaime = photoFunBD.RetourneLeNombreDeJAimeSelonPhoto(Photo);
           <div class="divdesimages">
                    @using (Html.BeginForm("RetourneLaVueSelonCategorie", "Home", FormMethod.Post))
                    { 
                        string cat = ViewBag.Title;
                        if (User.Identity.IsAuthenticated)
                        {
                            if (photoFunBD.VerifLiaisonPhotoUtil(User.Identity.Name, Photo))
                            {
                                <button type="submit" class="close boutonliker" title="J'aime"><span class="glyphicon glyphicon-heart"></span><span class="badge">@NbJaime</span></button>
                                <img src="@Photo" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                                <button type="button" class="fullscreen close boutonsupprimer" data-toggle="modal" data-target="#PhotoModal"><span class="glyphicon glyphicon-fullscreen"></span></button>
                                @Html.Hidden("categorie", cat)
                                @Html.Hidden("Image", Photo)
                            }
                            else
                            {
                                <button type="submit" class="close boutonliker" title="Je n'aime plus"><span class="glyphicon glyphicon-heart-empty"></span><span class="badge">@NbJaime</span></button> 
                                <img src="@Photo" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                                <button type="button" class="fullscreen close boutonsupprimer" data-toggle="modal" data-target="#PhotoModal"><span class="glyphicon glyphicon-fullscreen"></span></button>
                                @Html.Hidden("categorie", cat)
                                @Html.Hidden("Image", Photo)
                            }
                        }
                        else
                        {
                            <img src="@Photo" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                            <button type="submit" class="close boutonliker" title="J'aime"><span class="glyphicon glyphicon-heart"></span><span class="badge">@NbJaime</span></button>
                            <button type="button" class="fullscreen close boutonsupprimer" data-toggle="modal" data-target="#PhotoModal"><span class="glyphicon glyphicon-fullscreen"></span></button> 
                        }
                    }
            </div>
            
        }
        
        @*<text>
            @sNomPhoto = document.getElementById("#PhotoModal img").toString();
        </text>*@

        if (photoFunBD.ExtraireUtilSelonPhoto("/Images/xxdomxx_Lighthouse20141117135550.jpg", out nomUtil))
        {
            <div class="modal fade bs-example-modal-lg" id="PhotoModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close boutonsupprimer" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">
                                @Html.ActionLink(nomUtil, "PhotoUtil", "Account", new { nom = nomUtil }, null)
                            </h4>
                        </div>
                        <div class="modal-body">
                            <img src="" alt="Image inaccessible" width="100%"/>
                        </div>
                        <div class="modal-footer">
                            @{
                                if (photoFunBD.ExtraireCommentaireSelonPhoto("/Images/xxdomxx_Lighthouse20141117135550.jpg", out commentaire))
                                {
                                    <p>@commentaire</p>
                                }
                             }
                        </div>
                    </div>
                 </div>
             </div>  
            }
    }
    else
    {
         @Html.Partial("_PasPhotoCategorie")
    }
}
