@{ 
    var lstimage = ViewData["lstimage"] as List<string>;
    
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@{   
    if (lstimage != null && lstimage.Count > 0)
    {
        var pm = new PhotoFun.Models.PhotoFunBD();
        int NbJaime;
        foreach (var Photo in lstimage)
        {
            NbJaime = pm.RetourneLeNombreDeJAimeSelonPhoto(Photo);
           <div class="divdesimages">
               
                    @using (Html.BeginForm("RetourneLaVueSelonCategorie", "Home", FormMethod.Post))
                    {
                        string cat = ViewBag.Title;
                        if (User.Identity.IsAuthenticated)
                        {
                            if (pm.VerifLiaisonPhotoUtil(User.Identity.Name, Photo))
                            {
                                <button type="submit" class="close boutonliker" title="J'aime"><span class="glyphicon glyphicon-heart"></span><span class="badge">@NbJaime</span></button> 
                                <img src="@Photo" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                                @Html.Hidden("categorie", cat)
                                @Html.Hidden("Image", Photo)
                            }
                            else
                            {
                                <button type="submit" class="close boutonliker" title="J'aime"><span class="glyphicon glyphicon-heart-empty"></span><span class="badge">@NbJaime</span></button> 
                                <img src="@Photo" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                                @Html.Hidden("categorie", cat)
                                @Html.Hidden("Image", Photo)
                            }
                        }
                        else
                        {
                            <img src="@Photo" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                            <button type="submit" class="close boutonliker"><span class="glyphicon glyphicon-heart"></span><span class="badge">@NbJaime</span></button>
                            
                        }
                    }
            </div>  
        }
    }
    else
    {
         @Html.Partial("_PasPhotoCategorie")
    }
}
