@{
    var lstimage = ViewData["lstimage"] as List<string>;
    var nom = ViewData["nom"] as string;
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@if (lstimage != null && lstimage.Count > 0)
{
    var nomutil = nom;
    var photoFunBd = new PhotoFun.Models.PhotoFunBD();
    int nbJaime;
    foreach (var PhotoUtil in lstimage)
    {
        nbJaime = photoFunBd.RetourneLeNombreDeJAimeSelonPhoto(PhotoUtil);
        <div class="divdesimages">
        @using (Html.BeginForm("PhotoUtil", "Account", FormMethod.Post))
        {
            if (User.Identity.IsAuthenticated)
            {
                if (nomutil == User.Identity.Name)
                {
                    if (photoFunBd.VerifLiaisonPhotoUtil(User.Identity.Name, PhotoUtil))
                    {
                        <button type="submit" class="close boutonliker" title="J'aime" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart"></span><span class="badge">@nbJaime</span></button>   
                        <button type="submit" class="close boutonediter" name="actionAFaire" value="EDIT"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="submit" class="close boutonsupprimer" name="actionAFaire" value="DELETE"><span class="glyphicon glyphicon-remove"></span></button>                           
                        <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>                     
                        @Html.Hidden("Image", PhotoUtil)
                        @Html.Hidden("nom", nomutil)
                    }
                    else
                    {
                        <button type="submit" class="close boutonliker" title="Je n'aime plus" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart-empty"></span><span class="badge">@nbJaime</span></button>
                        <button type="submit" class="close boutonediter" name="actionAFaire" value="EDIT"><span class="glyphicon glyphicon-pencil"></span></button>                            
                        <button type="submit" class="close boutonsupprimer" name="actionAFaire" value="DELETE"><span class="glyphicon glyphicon-remove"></span></button>
                        <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                        @Html.Hidden("Image", PhotoUtil)
                        @Html.Hidden("nom", nomutil)
                    }
                }
                else
                {
                    if (photoFunBd.VerifLiaisonPhotoUtil(User.Identity.Name, PhotoUtil))
                    {
                        <button type="submit" class="close boutonliker" title="J'aime" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart"></span><span class="badge">@nbJaime</span></button> 
                        <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                        @Html.Hidden("Image", PhotoUtil)
                        @Html.Hidden("nom", nomutil)
                    }
                    else
                    {
                        <button type="submit" class="close boutonliker" title="Je n'aime plus" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart-empty"></span><span class="badge">@nbJaime</span></button> 
                        <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                        @Html.Hidden("Image", PhotoUtil)
                        @Html.Hidden("nom", nomutil)
                    }
                }
            }
            else
            {
                <button type="submit" class="close boutonliker" title="J'aime" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart"></span><span class="badge">@nbJaime</span></button> 
                <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                @Html.Hidden("Image", PhotoUtil)
            }
        }
        </div>
    }
}
