@{
    var lstimage = ViewData["lstimage"] as List<string>;
    var nom = ViewData["nom"] as string;
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@if (lstimage != null && lstimage.Count > 0)
{
    var nomutil = nom;
    var requetephotoBD = new PhotoFun.Models.RequetePhotoBD();
    var requeteRelUtilPhotoBD = new PhotoFun.Models.RequeteRelUtilPhotoBD();
    int nbJaime;
    foreach (var PhotoUtil in lstimage)
    {
        nbJaime = requetephotoBD.RetourneLeNombreDeJAimeSelonPhoto(PhotoUtil);
        <div class="divdesimages">
        @using (Html.BeginForm("PhotoUtil", "Account", FormMethod.Post))
        {
            if (User.Identity.IsAuthenticated)
            {
                if (nomutil == User.Identity.Name)
                {
                    if (requeteRelUtilPhotoBD.VerifLiaisonPhotoUtil(User.Identity.Name, PhotoUtil))
                    {
                        <button type="submit" class="close boutonliker" title="J'aime" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart"></span><span class="badge">@nbJaime</span></button>   
                        <button type="submit" class="close boutonediter" name="actionAFaire" value="EDIT"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="close boutonsupprimer voulezvousvrm" name="actionAFaire" data-toggle="modal" data-target="#DELETE"><span class="glyphicon glyphicon-remove"></span></button>                         
                        <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>                     
                        @Html.Hidden("Image", PhotoUtil)
                        @Html.Hidden("nom", nomutil)
                    }
                    else
                    {
                        <button type="submit" class="close boutonliker" title="Je n'aime plus" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart-empty"></span><span class="badge">@nbJaime</span></button>
                        <button type="submit" class="close boutonediter" name="actionAFaire" value="EDIT"><span class="glyphicon glyphicon-pencil"></span></button>                            
                        <button type="button" class="close boutonsupprimer voulezvousvrm" name="actionAFaire" data-toggle="modal" data-target="#DELETE"><span class="glyphicon glyphicon-remove"></span></button>
                        <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                        @Html.Hidden("Image", PhotoUtil)
                        @Html.Hidden("nom", nomutil)
                    }
                }
                else
                {
                    if (requeteRelUtilPhotoBD.VerifLiaisonPhotoUtil(User.Identity.Name, PhotoUtil))
                    {
                        <button type="submit" class="close boutonliker" title="J'aime" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart"></span><span class="badge">@nbJaime</span></button> 
                        <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                        @Html.Hidden("Image", PhotoUtil)
                        @Html.Hidden("nom", nomutil)
                    }
                    else
                    {
                        <button type="submit" class="close boutonliker" title="Je n'aime plus" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart-empty"></span><span class="badge">@nbJaime</span></button> 
                        <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                        @Html.Hidden("Image", PhotoUtil)
                        @Html.Hidden("nom", nomutil)
                    }
                }
            }
            else
            {
                <button type="submit" class="close boutonliker" title="J'aime" name="actionAFaire" value="LIKE"><span class="glyphicon glyphicon-heart"></span><span class="badge">@nbJaime</span></button> 
                <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                @Html.Hidden("Image", PhotoUtil)
            }
            <span hidden class="utilisateur" item="@nomutil"></span>
        }
            <div> 
                @Html.ActionLink("Partager", "PartagerImage", "Home", new { image = PhotoUtil }, new { @class = "btn btn-lg btn-info btn-sm" })
            </div>
        </div>
    }

    using (Html.BeginForm("PhotoUtil", "Account", FormMethod.Post))
    {
        <div class="modal fade bs-example-modal-lg" id="DELETE">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close boutonsupprimer" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Voulez-vous vraiment supprimer cette photo?</h4>
                    </div>
                    <div class="modal-body">
                        <img id="photoToShow" src="" alt="Image inaccessible" width="100%"/>
                        <input type="hidden" id="imageasupprimer" name="Image" value="" />
                        <input type="hidden" id="nomutilisateur" name="nom" value="" />
                    </div>
                    <div class="modal-footer" style="text-align: right;">
                        <input class="btn btn-lg btn-info" type="button" data-dismiss="modal" name="Annuler" value="Annuler"/>
                        <input class="btn btn-lg btn-info" type="submit" name="actionAFaire" value="Supprimer"/>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    var nomutil = nom;
    if (nomutil == User.Identity.Name)
    {
        <h3>Vous n'avez présentement aucune photo. @Html.ActionLink("Importez", "Importer", "Home") en maintenant!</h3> 
    }
    else
    {
        <h3>Ce profil n'a pas de photo pour l'instant.</h3> 
    }
}
