@{
    ViewBag.Title = "Profil recherché";
    var nomProfil = ViewData["Rechercher"] as PhotoFun.Models.ProfilModel;
}

@if (nomProfil != null)
{
    if (nomProfil.IdUtilRechercher != "Utilisateur Inexistant")
    {
    <div class="page-header">
        <h2>@nomProfil.IdUtilRechercher</h2>
    </div>
        <div class="container-fluid">
	        <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-3">
                   @Html.Partial("_ImageProfil",ViewData["profil"]=nomProfil.IdUtilRechercher)
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6">
                    <h5>@nomProfil.IdUtilRechercher</h5>
                    <h5>Courriel: @nomProfil.Courriel</h5>
                    <h5>Prénom: @nomProfil.PrenomUtil</h5>
                    <h5>Nom: @nomProfil.NomUtil</h5>
                    <h5>Nombre d'abonnés: @nomProfil.NbAbonnement</h5>
                    @if (nomProfil.IdUtilRechercher != User.Identity.Name && User.Identity.IsAuthenticated)
                    {
                        if (nomProfil.Abonner)
                        {
                            <h5>@Html.ActionLink("Ne plus suivre", "Suivre", new { nom = nomProfil.IdUtilRechercher, abonne = nomProfil.Abonner }, null)</h5>
                        }
                        else
                        {
                            <h5>@Html.ActionLink("Suivre", "Suivre", "Account", new { nom = nomProfil.IdUtilRechercher, abonne = nomProfil.Abonner }, null)</h5>
                        }
                    }
                    <h5>@Html.ActionLink("Photos", "PhotoUtil", "Account", new { nom = nomProfil.IdUtilRechercher }, null)</h5>
                </div>
            </div>
        </div>   
    }
}
else
{
    <div class="page-header">
        <h2>Utilisateur Inexistant</h2>
    </div>
}

