@{
    ViewBag.Title = "Profil";
    var nomutil = ViewData["Utilisateur"] as PhotoFun.Models.ProfilModel;
    var VerifierImporter = ViewData["VerifierImporter"] as string;
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("Profil", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="container-fluid">
	<div class="row">
        <div class="col-xs-8 col-sm-6 col-md-4">
            @Html.Partial("_ImageProfil",ViewData["profil"]=User.Identity.Name)
            <input class="btnchoisirfich PhotoProfil" id="ChangePhotoProfil" type="file" name="file" accept=".jpg,.png,.jpeg" />
            @switch (VerifierImporter)
            {
                case "TransfertEchoue": @Html.Partial("_TransfertEchoue")
                          break;
                case "MauvaisFichier": @Html.Partial("_ErreurMauvaisFichier")
                          break;
            }
        </div>
        <div class="col-xs-4 col-sm-4 col-md-6">
            <h2 style="margin-top:0px">@nomutil.IdUtilRechercher</h2>
            <h5>Courriel: @nomutil.Courriel</h5>
            <h5>Prénom: @nomutil.PrenomUtil</h5>
            <h5>Nom: @nomutil.NomUtil</h5>
            <h5>Nombre d'abonnés: @nomutil.NbAbonnement</h5>
            <h5>@Html.ActionLink("Mes abonnements", "MesAbonnements", "Account")</h5>
            <h5>@Html.ActionLink("Modifier le mot de passe", "Manage", "Account")</h5>
            <h5>@Html.ActionLink("Mes photos", "PhotoUtil", "Account", new { nom = User.Identity.Name }, null)</h5>
        </div>
    </div>
</div>
 
    <div class="modal fade bs-example-modal-lg" id="PhotoUtil">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close boutonsupprimer" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Votre photo de profil</h4>
                </div>
                <div class="modal-body">
                    <img id="photoToShow" src="" alt="Image inaccessible" width="100%"/>
                </div>
                <div class="modal-footer" style="text-align: right;">
                    <input class="btn btn-lg btn-info" type="button" data-dismiss="modal" name="Annuler" value="Annuler"/>
                    <input class="btn btn-lg btn-info" type="submit" name="ChangerPhotoUtil" value="Appliquer"/>
                </div>
            </div>
        </div>
    </div>
}
