@{
    ViewBag.Title = "ProfilUtil";
    var NomProfil = ViewData["Rechercher"] as PhotoFun.Models.ProfilModel;
}
<div class="page-header">
    @Html.Label(NomProfil.IdUtilRechercher)
    @Html.Label(NomProfil.NbAbonnement.ToString())
    @{
        if (NomProfil.Abonner)
        {
            @Html.ActionLink("Ne plus suivre","Suivre",new{ nom=NomProfil.IdUtilRechercher, abonner=NomProfil.Abonner}, null)
        }
        else
        {
            @Html.ActionLink("Suivre", "Suivre", "Account", new { nom = NomProfil.IdUtilRechercher, abonner=NomProfil.Abonner }, null)
        }
    }
    @Html.ActionLink("Vos photos", "PhotoUtil", "Account", new { nom = NomProfil.IdUtilRechercher })
</div>
