@{
    ViewBag.Title = "Profil";
    var nomutil = ViewData["Utilisateur"] as PhotoFun.Models.ProfilModel;
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<div class="container-fluid">
	<div class="row">
        <div class="col-xs-8 col-sm-6 col-md-3">
		    <img src="/Images/xxdomxx_Koala2014112474640.jpg" alt="Image inaccessible" class="img-thumbnail" width="100%"/>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-6">
            <h2>@nomutil.IdUtilRechercher</h2>
            <h5>Courriel: @nomutil.Courriel</h5>
            <h5>Prénom: @nomutil.PrenomUtil</h5>
            <h5>Nom: @nomutil.NomUtil</h5>
            <h5>Nombre d'abonnés: @nomutil.NbAbonnement</h5>
            <h5>@Html.ActionLink("Mes abonnements", "MesAbonnements", "Account")</h5>
            <h5>@Html.ActionLink("Modifier le mot de passe","Manage","Account")</h5>
            <h5>@Html.ActionLink("Mes photos", "PhotoUtil", "Account", new { nom = User.Identity.Name },null)</h5>
        </div>
    </div>
</div>
